{% extends "layouts/base.html" %}

{% block title %}Task 5{% endblock %}

{% block content %}
<h1>Task 5: Books Statistics</h1>

<ul>
    <li><strong>Number of books:</strong> {{ stats.total_books }}</li>
    <li><strong>Total price of all books:</strong> {{ stats.total_price }}</li>
    <li><strong>Average price:</strong> {{ stats.avg_price|stringformat:".2f" }}</li>
    <li><strong>Maximum price:</strong> {{ stats.max_price }}</li>
    <li><strong>Minimum price:</strong> {{ stats.min_price }}</li>
</ul>

<hr>
<a href="{% url 'books.index' %}">Back to Home</a>
{% endblock %}