{% extends "layouts/base.html" %}

{% block title %}Task 2{% endblock %}

{% block content %}
<h1>Publishers & Total Book Stock</h1>

<table border="1" >

        <tr>
            <th>Publisher Name</th>
            <th>Location</th>
            <th>Total Book Stock</th>
        </tr>
        {% for pub in publishers %}
        <tr>
            <td>{{ pub.name }}</td>
            <td>{{ pub.location }}</td>
            <td >
                <strong>{{ pub.total_stock|default:0 }}</strong>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3" >No publishers found.</td>
        </tr>
        {% endfor %}
</table>

<br>
{% endblock %}