{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Task 6{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'tables_data.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2><i class="fa fa-filter"></i> Filtered Books (Price > 50 & 1 <= Qty < 5)</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Publisher Name</th>
                    <th>Location</th>
                    <th style="text-align: center;">Filtered Count</th>
                </tr>
            </thead>
            <tbody>
                {% for pub in publishers %}
                <tr>
                    <td style="font-weight: 600;">{{ pub.name }}</td>
                    <td>{{ pub.location }}</td>
                    <td style="text-align: center;">
                        <span style="background: #f4f6f7; color: #34495e; padding: 5px 15px; border-radius: 20px; font-weight: bold;">
                            {{ pub.filtered_books_count }}
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}