{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Searching Page {% endblock title %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'forms_gallery.css' %}">
{% endblock %}


{% block content %}
<form class="searchForm" method="post" action="">
    {% csrf_token %} 
    <label>Keywords:</label>
    <input type="text" name="keyword" placeholder="enter a keyword" style="width: 300px; padding: 8px;"/>
    <br/><br/>

    <label>Search in:</label>
    <input type="checkbox" name="option1"/> <label>Title</label>
    <input type="checkbox" name="option2"/> <label>Author</label>
    <br/><br/>
    
    <button type="submit">
        <i class="fa fa-search" aria-hidden="true"></i> Search
    </button>
</form>
{% endblock content %}